# Ignore result directories
results_OBJ3/
results_OBJ3_half1/
results_OBJ5/

# Ignore python cache
__pycache__/

# Ignore some more dirs
analysis_evidence/

# Ignore data files
*.pdf
*.zip
*.patch
*.exe
*.pptx
